.home-1{
    background-image: url("https://cdn.pixabay.com/photo/2015/09/03/08/04/photographer-920128_1280.jpg");
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   }