.home-1{
    background-image: url("https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs2/255817890/original/dd55ca502a2b32d5d9f83192734e2ccef6f2567c/shoot-aliexpress-product-photography-in-pakistan.jpg");
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   }