.home-1{
    background-image: url("https://images.pexels.com/photos/9153468/pexels-photo-9153468.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   }